.label{
  font-weight: 600;
}

.label-size-small {
  font-size: 14px;
  line-height: 20px;
}

.label-size-medium {
  font-size: 16px;
  line-height: 22px;
}

.label-size-large {
  font-size: 18px;
  line-height: 24px;
}
